*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Montserrat';
    src: url(./Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family:'Vollkorn';
    src: url(./Vollkorn/static/Vollkorn-Regular.ttf);
}
.wrapper{
    width: 100%;
}
.wrapper .nav{
    width: 100%;
    height: 106px;
    display: flex;
    text-transform:uppercase;
}
.wrapper .nav img{
    width: 65px;
    height: 70px;
    margin-left: 250px;
    margin-top: 18px;
}
.wrapper .nav span{
    font-family: 'Vollkorn';
    margin-top: 31px;
    font-size: 22px;
    line-height: 38px;
    margin-left: 18px;
}
.wrapper .nav ul{
    display: flex;
    justify-content: center; 
    gap: 34px;
    margin-top: 41px;
    margin-left: 460px;
}
.wrapper .nav ul li{
    list-style: none;
}
.wrapper .nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 20px;
    color: #404040;
}
.wrapper .head{
    width: 100%;
    height: 391px;
    background-image:url(./img/page1.jpg);
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .head h1{
    font-family: 'Montserrat';
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 105px;
}
.wrapper .head hr{
    width: 80px;
    height: 2px;
    border: none;
    background: #FFFFFF;
    margin-top: 28px;
}
.wrapper .head span{
    font-family: 'Vollkorn';
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.81);
    margin-top: 25px;
}
.wrapper .header{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    background-color:#FEFEC9;
    border: none;
    align-items: center;
}
.wrapper .header span{
    font-family: 'Vollkorn';
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    word-spacing: 3px;
    margin-top: 60px;
}
.wrapper .header button{
    width: 159px;
    height: 53px;
    background: transparent;
    margin-top: 39px;
    box-shadow: 0px 1px 2px;
    cursor: pointer;
    font-family: 'Vollkorn';
    font-size: 16px;
    line-height: 20px;
    color: #47474F;
    text-align: center;
    transition: all 0.3s linear;
}
.wrapper .header button:hover{
  background-color: #FFFFFF;
}
.wrapper .header button:active{
    width: 190px;
    height: 70px;
    border: none;
    border-radius: 100px;
    background-color: red;
    color: #FFFFFF;
}
.wrapper .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .main h1{
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
    margin-top: 79px;

}
.wrapper .main hr{
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    border: none;
    margin-top: 28px;
}
.wrapper .main main{
    display: flex;
    gap: 20px;
    margin-top: 43px;
}
.wrapper .main main .box{
    width: 300px;
    height: 219px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.wrapper .main footer{
    display: flex;
    gap: 45px;
    text-align: center;
    margin-top: 38px;
}
.wrapper .main footer .text span{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
}
.wrapper .main footer .text p{
    font-family: 'Vollkorn';
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    margin-top: 20px;
} 
.wrapper .section{
    width: 100%;
    height: 1469px;
    margin-top: 74px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .section h1{
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 79px;
}
.wrapper .section hr{
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    border: none;
    margin-top: 28px;
}
.wrapper .section .boxes{
    margin-top: 43px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper .section .box{
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.wrapper .section .box img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.wrapper .section .box p{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 19px;
}
.wrapper .section .box span{
    font-family: 'Vollkorn';
    font-size: 14px;
    text-align: center;
    color: #333333;
    margin-top: 4px;
}
.wrapper .section .boxes-one{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper .section .box{
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.wrapper .section .box img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.wrapper .section .box p{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 19px;
}
.wrapper .section .box span{
    font-family: 'Vollkorn';
    font-size: 14px;
    text-align: center;
    color: #333333;
    margin-top: 4px;
}
.wrapper .article{
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .article h1{
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 79px;
}
.wrapper .article hr{
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    border: none;
    margin-top: 38px;
}
.wrapper .article .team{
    width: 100%;
    display: flex;
    margin-top: 43px;
    justify-content: center;
    gap: 20px;
}
.wrapper .article .team .box{
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.wrapper .article .team .box p{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 20px;
}
.wrapper .article .team .box span{
    font-family: 'Vollkorn';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin-top: 6px;
}
.wrapper .article .team .box .icons{
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 29px;
}
.wrapper .article .team .box .icons i{
    background-color: #d7d3d3;
}
.wrapper .foot{
    width: 100%;
    height: 511px;
    display: flex;
    background: #F5F5F5;
    justify-content: center;
    align-items: center;
    gap: 124px;
}
.wrapper .foot .about{
    display: flex;
    flex-direction: column;
}
.wrapper .foot .about p{
    font-family: 'Vollkorn';
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}
.wrapper .foot .about img{
    width: 64px;
    height: 64px;
    background: url(.jpg);
    margin-left: 120px;
    margin-top: 24px;
    object-fit: cover;
}
.wrapper .foot .about span{
    font-family: 'Montserrat';
    font-size:14px;
    text-align: center;
    text-transform: uppercase;
    color: #ABABAB;
    margin-top: 15px;
}
.wrapper .foot hr{
    width: 2px;
    height: 215px;
    background: rgba(0, 0, 0, 0.04);
}
.wrapper .footer{
    width: 100%;
    height: 517px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./IMAGE.jpg);
    background-position: center;
    object-fit: cover;
}
.wrapper .footer h1{
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 79px;
}
.wrapper .footer hr{
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    border: none;
    margin-top: 38px;
}
.wrapper .footer main{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    gap: 100px;
}
.wrapper .footer main .box{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    text-align: center;
}
.wrapper .footer main .box i{
    font-size: 60px;
    color: #FFFFFF;
}
.wrapper .footer main .box p{
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 26px;
}
.wrapper .footer main .box span{
    font-family: 'Vollkorn';
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #212121;
    margin-top: 20px;
}
.wrapper .end{
    width: 100%;
    height: 640px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .end .registration{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.wrapper .end .registration input:nth-child(odd){
    background: rgba(255, 255, 255, 0.18);
    height: 57px;
    width: 564px;
    border: none;
    font-family: 'Vollkorn';
    color:white ;
    padding: 30px 18px;
}
.wrapper .end .registration input:nth-child(2){
    background: rgba(255, 255, 255, 0.2);
    height: 57px;
    width: 564px;
    border: none;
    font-family: 'Vollkorn';
    color: white;
    padding: 30px 18px;
}
.wrapper .end .registration textarea{
    background: rgba(255, 255, 255, 0.2);
    border: none;
    font-family: 'Vollkorn';
    padding: 30px 18px;
    width: 564px;
    height: 127px;
    color: #737272;
}
.wrapper .end button{
    width: 210px;
    height: 53px;
    margin-top: 25px;
    font-family: 'Vollkorn';
    text-align: center;
    font-size: 17px;
    color: #8BCAC3;
    border: none;
    background: transparent;
    box-shadow: 1px 3px 5px;
    cursor: pointer;
}
.wrapper .end button:hover{
    background-color: #FFFFFF;
}
.wrapper .end button:active{
    width: 300px;
    border-radius: 100px;
    background-color: green;
}
.wrapper .end span{
    font-family: 'Vollkorn';
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 30px;
}